# For loops 

- Some objects in Python are **iterable**, that you can move from one element to another. 
- Strings, Lists, Tuples are an example
- Use **for Loops** to iterate over the elements

Syntax of **for** statement 

for (counter name) in (object to iterate on):
    # execute code expression

## Iterate in Python terminology 
- iterate on each character in a String object
- iterate on each element in a List or Tuple object
- iterate on each key in a Dictionary object

In [1]:
#Example String 
city_name = 'Chicago' # city_name is a string 
print(city_name[0]) # 1 element of the string object city_name 
print(city_name[1]) # 2 element of the string object city_name ... and so on

C
h

In [2]:
#Example List 
numbers = [1,2,3,4,5] #numbers is a list
print(numbers[0]) # 1 element of the list object numbers 
print(numbers[1]) # 2 element of the list object numbers ... and so on

1
2

In [3]:
#Example Dictionary 
days = {'One':'Monday', 2:'Tuesday', 'Three':'Wednesday'} # days is a dictionary 
print(days['One']) # value at key='One' in dictionary days 
print(days[2])     # value at key=2 in dictionary days

Monday
Tuesday

In [5]:
days2 = {'One':'Monday', 2:100.34, 3.9:[4,5]}
days2

{'One': 'Monday', 2: 100.34, 3.9: [4, 5]}

## Implementing For Loops

In [6]:
for item in city_name:
    print('The element is ', item)

The element is  C
The element is  h
The element is  i
The element is  c
The element is  a
The element is  g
The element is  o

In [7]:
for item in city_name:
    print('Punk')

Punk
Punk
Punk
Punk
Punk
Punk
Punk

In [8]:
for element in numbers:
    print(element)

1
2
3
4
5

In [9]:
for element in numbers:
    print('This is a list')

This is a list
This is a list
This is a list
This is a list
This is a list

In [10]:
for data in days.keys(): #dictionaries are unordered
    print(data)

One
2
Three

In [11]:
for data in days.values():
    print(data)

Monday
Tuesday
Wednesday

### We can use if / elif / else statements also

In [12]:
for i in city_name:
    if (i=='C'):
        print (i)

C

In [ ]:
for item in city:
    if item =='C':
        print(item)
    print(item

In [15]:
for i in city_name:
    if (i=='C' or i=='c'):
        print (i)

C
c

### For loop without counter ...huh!

In [16]:
for _ in city_name:
    print ('Tada!')

Tada!
Tada!
Tada!
Tada!
Tada!
Tada!
Tada!

### Tuple unpack

In [17]:
tuple_in_list = [(3,4),(100,45)]
for item in tuple_in_list:
    print(item)

(3, 4)
(100, 45)

In [18]:
for x,y in tuple_in_list:
    print(x)
    print(y)

3
4
100
45

Caveat in the above method: the number of subelements in all elements shoul be the same

In [19]:
tuple_in_list = [(3,4,5),(100,45)]
for x,y in tuple_in_list:
    print(x)
    print(y)

ValueError: too many values to unpack (expected 2)