# Other important statements

We will learn about:
- range()
- break
- continue

## range()
- it returns a sequence of integers from start (inclusive) to stop (exclusive) by step. 
- it generates a **range** object type 
- the syntax is: range(start, stop, step)

In [ ]:
list_sample = [1,2,3,4,5,6,7,8,9,10]

Instead you can use range()

In [1]:
range(1,11,1)

range(1, 11)

In [3]:
list_sample2 = list(range(1,11,1)) #converting the sequene from range in a list
list_sample2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

If you want to iterate over some values, you may create an iterable object and then do a for loop.

In [4]:
list_sample = [1,2,3,4,5]
for i in list_sample:
    print(i)

1
2
3
4
5

Instead you can use range()

In [5]:
for i in range(1,6,1):
    print(i)

1
2
3
4
5

range() with different step size

In [6]:
for i in range(1,10,3):
    print(i)

1
4
7

# break statement

break: Breaks the current closest loop

In [7]:
name = 'Chicago'
for item in name:
    print(item)

C
h
i
c
a
g
o

In [9]:
name = 'Chicago'
for item in name:
    if item == 'g':
        break
    print(item)

C
h
i
c
a

In [11]:
x = 5
while x < 10:
    if x == 7:
        break
    print(x)
    x += 1

5
6

Example with Nested loops

In [12]:
name1 = 'newyork'
name ='ago'
for value in name1:#value = e
    for item in name: #item = g
        if item=='g':
            break
        print(item)
    print(value)

a
n
a
e
a
w
a
y
a
o
a
r
a
k

# continue statement 

continue: Goes to the top of the closest loop

In [13]:
name = 'Chicago'
for item in name:
    if item == 'g':
        continue
    print(item)

C
h
i
c
a
o